* {
  margin: 0;
  padding: 0; }

*:before,
*:after {
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  background-color: #3016b0; }

.nav__list {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  position: absolute;
  top: 4rem;
  right: 15%; }

.nav__item {
  transition: all 0.3s; }

.nav__link {
  font-family: "Exo 2", sans-serif;
  font-weight: 400;
  color: #fff;
  font-size: 2rem;
  text-transform: uppercase;
  text-decoration: none;
  padding: 2rem 3rem;
  transition: all 0.3s; }

.nav__link:hover {
  color: #3016b0;
  background-color: #ffcd00; }

.nav__item:hover {
  transform: translateY(-3px) scale(1.1) rotate(-5deg); }

.header {
  width: 70%;
  height: 50rem;
  margin: 10rem auto;
  border: 1rem solid #ffcd00; }
  .header__box {
    display: flex;
    overflow: hidden;
    height: 100%; }
    .header__box--text {
      flex: 1;
      align-self: center;
      position: relative;
      z-index: 7; }
      .header__box--text h1 {
        font-family: "Exo 2", sans-serif;
        font-weight: 700;
        line-height: 200%;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-size: 6rem;
        color: #fff;
        background-color: transparent;
        transform: translateX(15rem);
        transition: all 0.4s; }
      .header__box--text:hover h1 {
        transform: translateX(10rem); }
    .header__box--image {
      flex: 0 0 50%;
      background-image: linear-gradient(rgba(48, 22, 176, 0.8), rgba(48, 22, 176, 0.8)), url("../img/personal-img-1.jpg");
      background-position: center;
      background-size: cover;
      width: 100%;
      height: auto;
      transition: all 0.5s; }
      .header__box--image:hover {
        transform: scale(1.2) translate(4rem, 2rem); }
