.nav {
  &__list {
    display: flex;
    list-style: none;

    justify-content: flex-end;
    position: absolute;
    top: 4rem;
    right: 15%;
  }
  &__item {
    transition: all 0.3s;
  }
  &__link {
    @include font-400;
    color: #fff;
    font-size: 2rem;
    text-transform: uppercase;
    text-decoration: none;
    padding: 2rem 3rem;
    transition: all 0.3s;
  }

  &__link:hover {
    color: $color-secondary;
    background-color: $color-primary;
  }
  &__item:hover {
    transform: translateY(-3px) scale(1.1) rotate(-5deg);
  }
}
